
body {
    background-color: rgb(94, 112, 94);
    text-align: center;

}

.uno{
    color:  rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    height: 80px;
    width: 50%;
    /*esto me centraba el div en el medio de la pagina*/
    /*display: inline-block; */ 
    text-align: center;
    margin: auto;
}


.fondo{
    background-color: rgb(66, 66, 66);
    width: 800px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}
.m-boton {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(2, 5, 2) ;
    color: rgb(144, 86, 110);
    padding: 15px 25px;
    border-style: none;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.8s;


}
.m-boton:hover {
    background-color: rgb(144, 86, 110);
    color: white;
}


.contenedorboton{
    max-width: 100px;
    height: 200px;  
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton1{
    margin-right: 20px;
    width: 100px;
    height: 100px;
    background-color: rgb(144, 86, 110);
    border-radius: 10px;
    border: none; 
    color: white;
    font-size: 60px;
    cursor: pointer;
    transition: 0.7s ease all;
}
.boton1:hover {
    background-color: white;
    color: rgb(144, 86, 110);
}


.copy{
    color:  rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}